IndentWidth: 4
SortIncludes:    Never
AlignConsecutiveAssignments: true
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  AfterNamespace: true
  BeforeElse: false
  BeforeCatch: false

